body{
  background-color:rgb(248, 200, 140)
}
#container {
      width: 220px;
      margin: 50px auto;
      padding: 10px;
      border: 2px solid #ccc;
      background-color:rgb(16, 88, 244);
      border-radius: 10px;
      font-family: Arial;
    }

    #history {
      text-align: right;
      color: gray;
      font-size: 1em;
      height: 20px;
    }

    #display {
      width: 100%;
      font-size: 1.5em;
      text-align: right;
      padding: auto;
      margin-bottom: 10px;
    }

    .buttons button {
      width: 30px;
      height: 30px;
      font-size: 1.2em;
      margin: 2px;
    }
      